# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
/.report

# generated
generated/

# build
/.next

# misc
.DS_Store
*.pem

# debug
*.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# queries

/src/queries/core.ts
/src/queries/core.introspection.ts
